/*To apply this stylesheet to an fxml, make sure the fxml has:
<?import java.net.*?>    
with the other imports,
and
<stylesheets>
<URL value="@styles.css"/>
</stylesheets>
somewhere in the VBox/HBox/GridPane/AnchorPane/etc. tags
*/    



.paperborderbackground {
    background-color: #377F7F;
    -fx-background-color: #377F7F;
}

.accentbutton {
    background-color: #377F7F;
    -fx-background-color: #377F7F;
    -fx-text-fill: #fff;
}

.boldbutton {
    -fx-font-size: 14px;
    font-size: 14px;
    -fx-font-weight: bold;
    font-weight: bold;
    -fx-pref-width: 200px;
}

.accentheader {
    -fx-text-fill: #377F7F;
    -fx-font-weight: bold;
    font-weight: bold;
}

.menubar {
    background-color: #377F7F;
    -fx-background-color: #377F7F;
    -fx-text-fill: #fff;
}

.menubar .label {
    -fx-text-fill: #fff;
}

.menubar .button {
    background-color: #fff;
    -fx-background-color: #fff;
    -fx-text-fill: #377F7F;
    -fx-font-weight: bold;
    font-weight: bold;


}
.centerBox{
    -fx-background-size: 1200 900;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width:5;
    -fx-border-color: #ffffff;
}



